*{margin:0;box-sizing:border-box;}
body{margin:0; font:14px/1.4 sans-serif;}

// /////
// CUSTOM STUFF

.calendar{
    td, th{
        vertical-align:bottom;
        padding:4px 16px 4px 0;
        line-height:18px;
    }
    th{
        font-size:12px;
        opacity:0.8;
        text-align:left;
    }
    td{
        font-size: 16px;
        i{
            opacity:0.5;
        } 
    }
}


/*/////
STYLING INFO:
LI background: style the LI's :before pseudo
/////*/


$calendar-color: #E86850;
$calendar-month-border : 1px;
$calendar-cell-size: 44px;
$calendar-radius: 3px;
$calendar-selection-radius: 50px;


.calendar{

    position:fixed;
    overflow:hidden;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background:#fff;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.3);
    border-radius: $calendar-radius;    

    
    ul{
        padding:0;
        width:100%;
        list-style:none;
        white-space:nowrap; 
        li{
            position:relative;
            display:inline-block;
            text-align:center;
        }
    }

    h4{
        font-size:32px;
        font-weight:100;
        padding: 16px;
    }

}


.calendar_header{
    position: relative;
    padding: 16px 16px;
    background: $calendar-color;
    color: rgba(255,255,255,0.9);
}



ul.calendar_weekdays{

    background: rgba($calendar-color, 0.7);
    color: #fff;
    //padding-right: 17px;
    li{
        width: $calendar-cell-size;
        padding:8px 0; 
        font-size:12px;
        white-space:nowrap;
    }
}

.calendar_months{

    //position:relative;
    height:280px;
    overflow-x:hidden;
    overflow-y:scroll;

    // SCROLL LABEL 2
    &.calendar_months_scrolling .calendar_month:before{
        visibility:visible;
        opacity:1;
    }
}

.calendar_month{

    position:relative;
    display:block;

    &:nth-child(1) ul:first-of-type li{
        box-shadow: none !important;
    }

    // EVERY SECOND MONTH BACKGROUNDS
    &:nth-child(even) li{
        //z-index:1;
        &:before{
            content:"";
            position:absolute;
            z-index:-1;
            left:0;
            top:0;
            width:100%;
            height:100%;
            background:rgba(0,0,0,0.02);
        }
    }

    ul:first-child{
        text-align:right;
        li{
            // TOP "MONTH" BORDER
            box-shadow: inset 0 $calendar-month-border 0 rgba(0,0,0, 0.2);
        }
    }

    ul:last-child{
        li{
            // BOTTOM "MONTH" BORDER
            box-shadow: inset 0 (-$calendar-month-border) 0 rgba(0,0,0, 0.2);
            z-index:1; /* Go over overlapping month */
            &:last-of-type{
                // VERTICAL "MONTH" BORDER
                box-shadow: inset 0px (-$calendar-month-border) 0 rgba(0,0,0, 0.2),
                    inset (-$calendar-month-border) 0px 0 rgba(0,0,0, 0.2);
            }
            &:nth-child(7){
                // If it's the last cell don't paint the right vertical border
                box-shadow: inset 0px (-$calendar-month-border) 0 rgba(0,0,0, 0.2), none !important;
            }
        }
    }

    // INTERSECTING MONTHS
    & + .calendar_month_overlap{
        ul:first-of-type{
            position:absolute;
            bottom:100%;
            bottom: calc(100% + 0px);
        }
    }

    // /////
    // SCROLL LABEL 1
    /*&:before{
        content: attr(data-month-label);
        position:absolute;
        z-index:2;
        left:0; right:0;
        top:0; bottom:0;
        white-space:nowrap;
        text-transform: uppercase;
        font-size: 60px;
        text-align:left;
        text-indent: -5px;
        background:rgba(255,255,255,0.9);
        color: rgba($calendar-color, 1);
        transition: 0.3s;
        visibility:hidden;
        opacity:0;
        pointer-events: none;
    }*/
}


// /////
// DAYS
li.calendar_day{
    position:relative;
    text-align:center;
    // All spans inside day
    > span {
        position:relative;
        z-index:5;
        display:inline-block;
    }
    > span.calendar_day_date{
        width: $calendar-cell-size;
        height: $calendar-cell-size;
        line-height: $calendar-cell-size;
        border-radius: $calendar-selection-radius;
    }
    > span.calendar_day_month{
        position:absolute;
        z-index:6;
        top:2px;
        width:100%;
        font-size:9px;
        display:none;
    }
    > span.calendar_day_year{
        position:absolute;
        z-index:6;
        bottom:2px;
        width:100%;
        font-size:9px;
        display:none;
    }

    // FIRST DAY OF THE CALENDAR SHOWING MONTH AND YEAR
    &.calendar_day_1{
        span.calendar_day_month{display:block;}
        span.calendar_day_year {display:block;}
    }


    // COLOR WEEKEND BACKGROUNDS
    &.calendar_day_weekend{
        //background:rgba(0,0,0,0.02) !important;
    }
    &.calendar_day_today{
        span.calendar_day_date{
            box-shadow: inset 0 0 0 1px $calendar-color;
        }
    }

    &.calendar_day_disabled,
    &.calendar_day_range_disabled{
        cursor: normal;
        span{
            opacity:1;
        }
        span.calendar_day_date{
            opacity:0.3;
        }
    }

    // ENABLED DAYS STYLES (can be selected)
    &.calendar_day_enabled{

        cursor:pointer;

        &.calendar_day_active,
        &.calendar_day_selected_first,
        &.calendar_day_selected_last{
            color:#fff;
            span.calendar_day_date,
            span.calendar_day_date:hover{
                background: rgba($calendar-color, 0.8);
            }
        }

        &:hover span.calendar_day_date{
            background:rgba(0,0,0,0.1);
        }
    }

    // ACTIVE STYLES
    &.calendar_day_active{

    }


    // RANGE and selection Layer
    &:after{
        content:"";
        position:absolute;
        z-index:3;
        left:0;
        top:0px;
        bottom:0px;
        width:100%;
        background: transparent;
    }

    &.calendar_day_selected:after{
        background: rgba($calendar-color, 0.3);
    }

    // HOVER Layer styles
    &.calendar_day_range_hover:after{
        background:rgba($calendar-color, 0.1);
    }
    &.calendar_day_selected_first:after,
        &.calendar_day_range_first:after{
        border-radius: $calendar-selection-radius 0 0 $calendar-selection-radius;
    }
    &.calendar_day_selected_last:after,
        &.calendar_day_range_last:after{
        border-radius: 0 $calendar-selection-radius $calendar-selection-radius 0;
    }

}

