*{margin:0;box-sizing:border-box;}
body{margin:0; font:14px/1.4 sans-serif;}

// /////
// CUSTOM STUFF

.calendar{
    td, th{
        vertical-align:bottom;
        padding:4px 16px 4px 0;
        line-height:18px;
    }
    th{
        font-size:12px;
        opacity:0.8;
        text-align:left;
    }
    td{
        font-size: 16px;
        i{
            opacity:0.5;
        } 
    }
}


/*/////
STYLING INFO:
LI background: style the LI's :before pseudo
/////*/

$color-1 : #103040;
$color-2 : rgba(240,120,100,1);

.calendar{

    position:fixed;
    overflow:hidden;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    min-width:280px;
    max-width:360px;
    background:#fff;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.3);

    ul{
        padding:0;
        width:100%;
        list-style:none;
        li{
            position:relative;
            display:inline-block;
            text-align:center;
            width: 14.285%;
        }
    }

    h4{
        font-size:32px;
        font-weight:100;
        padding: 16px;
    }

}


.calendar_header{
    position: relative;
    padding: 16px 16px;
    background: $color-2;
    color: rgba(255,255,255,0.9);
}



ul.calendar_weekdays{

    background: rgba($color-2, 0.8);
    color: #fff;
    //padding-right: 17px;
    li{
        padding:8px 0; 
        font-size:12px;
    }
}

.calendar_months{

    //position:relative;
    height:280px;
    width: calc(100% + 17px);
    overflow-x:hidden;
    overflow-y:scroll;

    // SCROLL LABEL 2
    &.calendar_months_scrolling .calendar_month:before{
        visibility:visible;
        opacity:1;
    }
}

.calendar_month{

    position:relative;
    display:block;

    &:nth-child(1) ul:first-of-type li{
        box-shadow: none !important;
    }

    &:nth-child(even) li{
        z-index:1;
        &:before{
            content:"";
            position:absolute;
            z-index:-1;
            left:0;
            top:0;
            width:100%;
            height:100%;
            background:rgba(0,0,0,0.02);
        }
    }

    ul:first-of-type{
        text-align:right;
        li{
            // TOP "MONTH" BORDER
            box-shadow: inset 0 1px 0 rgba(0,0,0, 0.2);
        }
    }

    ul:last-of-type{
        li{
            // BOTTOM "MONTH" BORDER
            box-shadow: inset 0 -1px 0 rgba(0,0,0, 0.2);
            z-index:1; /* Go over overlapping month */
            &:last-of-type{
                // VERTICAL "MONTH" BORDER
                box-shadow: inset 0px -1px 0 rgba(0,0,0, 0.2),
                    inset -1px 0px 0 rgba(0,0,0, 0.2);                  
            }
        }
    }

    // INTERSECTING MONTHS
    & + .calendar_month_overlap{
        ul:first-of-type{
            position:absolute;
            bottom:100%;
            bottom: calc(100% + 0px);
        }
    }

    // /////
    // SCROLL LABEL 1
    /*&:before{
        content: attr(data-month-label);
        position:absolute;
        z-index:2;
        left:0; right:0;
        top:0; bottom:0;
        white-space:nowrap;
        text-transform: uppercase;
        font-size: 60px;
        text-align:left;
        text-indent: -5px;
        background:rgba(255,255,255,0.9);
        color: rgba($color-2, 1);
        transition: 0.3s;
        visibility:hidden;
        opacity:0;
        pointer-events: none;
    }*/
}


// /////
// DAYS
li.calendar_day{

    text-align:center;
    // All spans inside day
    > span {
        position:relative;
        z-index:5;
        display:inline-block;
    }
    span.calendar_day_date{
        width:40px;
        height:40px;
        line-height:40px;
        border-radius: 50%;
    }
    span.calendar_day_month{
        position:absolute;
        top:2px;
        width:100%;
        font-size:9px;
        display:none;
    }
    span.calendar_day_year{
        position:absolute;
        bottom:2px;
        width:100%;
        font-size:9px;
        display:none;
    }

    &.calendar_day_1{
        span.calendar_day_month{display:block;}
        span.calendar_day_year {display:block;}
    }

    // COLOR WEEKEND BACKGROUNDS
    &.calendar_day_weekend{
        //background:rgba(0,0,0,0.02) !important;
    }
    &.calendar_day_today{
        span.calendar_day_date{
            box-shadow: inset 0 0 0 1px $color-2;
        }
    }

    &.calendar_day_disabled,
    &.calendar_day_range_disabled{
        cursor: normal;
        span{
            opacity:0.95;
        }
        span.calendar_day_date{
            opacity:0.3;
        }
    }

    &.calendar_day_enabled{
        &.calendar_day_active,
        &.calendar_day_selected_first,
        &.calendar_day_selected_last{
            color:#fff;
            span.calendar_day_date,
            span.calendar_day_date:hover{
                background: rgba($color-2, 0.8);
            }
        }

        span.calendar_day_date{
            cursor:pointer;
            &:hover{
                background:rgba(0,0,0,0.1);
            }    
        }
    }




    // RANGE and selection Layer
    &:after{
        content:"";
        position:absolute;
        z-index:3;
        left:0;
        top:0px;
        bottom:0px;
        width:100%;
        background: transparent;
    }

    // SELECTED Layer styles
    &.calendar_day_selected:after{
        background: rgba($color-2, 0.3);
    }

    // HOVER Layer styles
    &.calendar_day_range_hover:after{
        background:rgba($color-2, 0.1);
    }
    &.calendar_day_selected_first:after,
        &.calendar_day_range_first:after{
        border-radius: 50px 0 0 50px;
    }
    &.calendar_day_selected_last:after,
        &.calendar_day_range_last:after{
        border-radius: 0 50px 50px 0;
    }

}

